.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  height: 80px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 90px;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
